.employeeRow {
  height: 230px;
  width: 90%;
  text-align: center;

}

.img-container {
  height: 220px;
  overflow: hidden;
  text-align: center;
}

.img-container > img {
  width: 100px;
  margin-top: 50px;
}

.info {
  margin-top: 70px;
}



